atomicwrites==1.3.0
attrs==18.2.0
certifi==2018.8.24
chardet==3.0.4
click==6.7
clinner==1.12.3
colorlog==4.0.2
Django==2.2.5
djangorestframework==3.10.3
git+https://github.com/RockefellerArchiveCenter/asterism@v0.1#egg=asterism
gitdb2==2.0.6
GitPython==2.1.11
health-check==3.4.1
importlib-metadata==0.22
isodate==0.6.0
jsonpointer==2.0
jsonschema==2.6.0
MarkupSafe==1.0
more-itertools==4.3.0
multidict==4.4.0
pluggy==0.13.0
psycopg2-binary==2.7.4
pyfc4==0.6
pylzma==0.5.0
pyparsing==2.4.2
pytz==2019.3
PyYAML==5.1.2
rdflib==4.2.2
rdflib-jsonld==0.4.0
requests==2.20.0
rfc3987==1.3.8
six==1.12.0
smmap2==2.0.4
strict-rfc3339==0.7
uritemplate==3.0.0
urllib3==1.24.2
vcrpy==1.13.0
wcwidth==0.1.7
wrapt==1.10.11
yarl==1.3.0
zipp==0.6.0
