DEBUG = True

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'postgres',
        'USER': 'postgres',
        'HOST': 'gemini-db',
        'PORT': 5432,
    }
}

ALLOWED_HOSTS = ['localhost', 'gemini-web']

BASE_DIR = ''

ARCHIVEMATICA = {
  "baseurl": "http://archivematica-storage-service:8000",
  "username": "test",
  "api_key": "test",
  "pipeline_uuid": "b80b39f0-ab3d-406d-8efd-dd48b532c34f"
}

FEDORA = {
  "baseurl": "http://localhost:8080/fedora/rest/",
  "username": "admin",
  "password": "admin",
}

TMP_DIR = '{}/tmp'.format(BASE_DIR)

STATIC_ROOT = '/static'

DELIVERY_URL = 'http://aquarius-web:8002/packages/'

CLEANUP_URL = 'http://fornax-web:8003/cleanup/'
